{
    'env': {
        'browser': true,
        'es6': true,
        "jest": true,
    },
    'extends': 'eslint:recommended',
    'parserOptions': {
        'sourceType': 'module'
    },
    'rules': {
        'indent': ['error', 2],
        'linebreak-style': [ 'error', 'unix' ],
        'quotes': [ 'error', 'single' ],
        'semi': [ 'error', 'always' ],
        'no-console': ['error', {
            'allow': ['warn', 'error', 'log']
        }],
        'spaced-comment': ['error', 'always', {
            'line': {
                'markers': ['/'],
                'exceptions': ['-', '+']
            },
            'block': {
                'markers': ['!'],
                'exceptions': ['*'],
                'balanced': true
            }
        }]
    },
    'globals': {
        'require': false,
        'global': false,
        'module': false,
    }
}
