{
  "extends": "stylelint-config-standard",
  "rules": {
    max-empty-lines: 2,
    indentation: 2,
    declaration-empty-line-before: ["never"],
    at-rule-empty-line-before: [ "always", {
        except: ["inside-block", "blockless-after-same-name-blockless", "blockless-after-blockless", "first-nested"],
        ignoreAtRules: ["include"],
    }],
  }
}
